body {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

header {
  padding: 20px;
  background-color: #ebedff;
}

main {
  margin-top: 40px;
}

.chip {
  overflow: initial;
}

.user-menu {
  position: relative;
  cursor: pointer;
}

.user-submenu {
  display: none;
}

.article-card {
  margin-top: 10px;
}

.article-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.article-image-inner {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  object-fit: cover;
}

.user-menu:hover > .user-submenu {
  position: absolute;
  top: 30px;
  top: 20px;
  height: 90px;
  width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #d7edff;
  border-radius: 20px;
}

.user-menu > .user-submenu a {
  margin-top: 10px;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

#createPost {
  margin-top: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: orange;
  color: white; 
  float: right; 
  border: none; 
  padding: 6px 12px; 
  text-decoration: none; 
  font-size: 16px;
  margin: 20px 0;
  transition: 0.3s; 
}

.delete-button:hover {
  background-color: darkorange;
  text-decoration: none; 
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.post-title {
  margin-right: auto;
}

.edit-button {
  padding: 6px 12px;
  background-color: rgb(180, 87, 180);
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.edit-button:hover {
  background-color: darkmagenta;
  color: white;
  text-decoration: none;
}
